<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-white">Admin Panel</div>
        <div class="list-group list-group-flush">
            <button (click)="navigateTo('employees/create')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-person-plus-fill"></i> Tạo Nhân Viên
            </button>
            <button (click)="navigateTo('employees')" class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-people-fill"></i> Danh Sách Nhân Viên
            </button>
            <button (click)="navigateTo('products/add')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-box"></i> Thêm Sản Phẩm
            </button>
            <button (click)="navigateTo('admin-panel/manage-brands')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-tag"></i> Thêm Thương Hiệu
            </button>
            <button (click)="navigateTo('create-type')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-tags-fill"></i> Type
            </button>
            <button (click)="navigateTo('product-list')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-boxes"></i> Danh Sách Sản Phẩm
            </button>
            <button (click)="onLogout()" class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-box-arrow-right"></i> Đăng Xuất
            </button>
        </div>
    </div>
    <div class="container mt-4">
        <h1>Danh Sách Sản Phẩm</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Giá</th>
                    <th>Giá Đã Giảm</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.priceHasDecreased }}</td>
                    <td>
                        <button (click)="editProduct(product.id)" class="btn btn-warning btn-sm">Sửa</button>
                        <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>