.alert-container {
    margin-top: 20px;
}

.mail_text {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.send_bt button {
    width: 100%;
    padding: 10px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send_bt button:hover {
    background-color: #c9302c;
}