.container {
    margin-top: 10px;
}

.table {
    text-align: center;
}

.delete-btn {
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    i {
        margin-right: 5px;
        /* Khoảng cách giữa icon và chữ */
    }

    &:hover {
        background-color: #c82333;
        /* Đổi màu khi hover */
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
    }

    &:active {
        background-color: #bd2130;
        /* Màu khi nhấn */
    }
}

#sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    flex: 1;
}

.list-group-item {
    transition: background-color 0.2s;
}

.list-group-item:hover {
    background-color: #1b1e21;
}

.sidebar-heading {
    font-size: 1.5rem;
    /* Kích thước chữ lớn hơn */
    font-weight: bold;
    /* Làm đậm chữ */
    text-align: center;
    /* Canh giữa */
    padding: 15px;
    /* Thêm khoảng cách xung quanh */
    background-color: #343a40;
    /* Màu nền tương tự như sidebar */
    border-bottom: 2px solid #727880;
    /* Đường viền dưới màu xanh dương */
    margin-bottom: 10px;
    /* Khoảng cách dưới */
    letter-spacing: 1px;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    margin: 0;
    /* Xóa khoảng cách thừa */
}