<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-white">Admin Panel</div>
        <div class="list-group list-group-flush">
            <button (click)="navigateTo('employees/create')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-person-plus-fill"></i> Tạo Nhân Viên
            </button>
            <button (click)="navigateTo('employees')" class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-people-fill"></i> Danh Sách Nhân Viên
            </button>
            <button (click)="navigateTo('products/add')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-box"></i> Thêm Sản Phẩm
            </button>
            <button (click)="navigateTo('admin-panel/manage-brands')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-tag"></i> Thêm Thương Hiệu
            </button>
            <button (click)="navigateTo('create-type')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-tags-fill"></i> Type
            </button>
            <button (click)="navigateTo('product-list')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-boxes"></i> Danh Sách Sản Phẩm
            </button>
            <button (click)="onLogout()" class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-box-arrow-right"></i> Đăng Xuất
            </button>
        </div>
    </div>

    <div class="container">
        <h1>Tạo Mới Type</h1>

        <form [formGroup]="typeForm" (ngSubmit)="onCreateType()">
            <div class="form-group">
                <label for="name">Tên:</label>
                <input id="name" formControlName="name" />
                <div *ngIf="typeForm.get('name')?.invalid && typeForm.get('name')?.touched">
                    <small style="color: red;">Vui lòng điền tên.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Mô Tả:</label>
                <input id="description" formControlName="description" />
                <div *ngIf="typeForm.get('description')?.invalid && typeForm.get('description')?.touched">
                    <small style="color: red;">Vui lòng điền mô tả cho Type.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="productType">Loại Sản Phẩm:</label>
                <input id="productType" formControlName="productType" />
                <div *ngIf="typeForm.get('productType')?.invalid && typeForm.get('productType')?.touched">
                    <small style="color: red;">Vui lòng chọn loại sản phẩm.</small>
                </div>
            </div>

            <div class="text-center">
                <button type="submit">Tạo Mới Type</button>
            </div>
        </form>

        <div *ngIf="registerMessage">
            <p style="color: green;">{{ registerMessage }}</p>
        </div>
    </div>
</div>