<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-white">Admin Panel</div>
        <div class="list-group list-group-flush">
            <button (click)="navigateTo('employees/create')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-person-plus-fill"></i> Tạo Nhân Viên
            </button>
            <button (click)="navigateTo('employees')" class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-people-fill"></i> Danh Sách Nhân Viên
            </button>
            <button (click)="navigateTo('products/add')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-box"></i> Thêm Sản Phẩm
            </button>
            <button (click)="navigateTo('admin-panel/manage-brands')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-tag"></i> Thêm Thương Hiệu
            </button>
            <button (click)="navigateTo('create-type')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-tags-fill"></i> Type
            </button>
            <button (click)="navigateTo('product-list')"
                class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-boxes"></i> Danh Sách Sản Phẩm
            </button>
            <button (click)="onLogout()" class="list-group-item list-group-item-action bg-dark text-white">
                <i class="bi bi-box-arrow-right"></i> Đăng Xuất
            </button>
        </div>
    </div>
    <div class="container">
        <h1>Quản lý Thương Hiệu</h1>

        <form [formGroup]="brandForm" (ngSubmit)="onCreateBrand()">
            <div class="form-group">
                <label for="brandName">Tên Thương Hiệu:</label>
                <input id="brandName" formControlName="brandName" />
                <div *ngIf="brandForm.get('brandName')?.invalid && brandForm.get('brandName')?.touched">
                    <small style="color: red;">Vui lòng điền tên thương hiệu.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="origin">Nguồn Gốc:</label>
                <input id="origin" formControlName="origin" />
                <div *ngIf="brandForm.get('origin')?.invalid && brandForm.get('origin')?.touched">
                    <small style="color: red;">Vui lòng điền nguồn gốc thương hiệu.</small>
                </div>
            </div>
            <div class="text-center"> <!-- Thêm div này để căn giữa nút -->
                <button type="submit">Tạo Thương Hiệu</button>
            </div>

        </form>

        <div *ngIf="registerMessage">
            <p style="color: green;">{{ registerMessage }}</p>
        </div>
    </div>
</div>